HELP.md
### backend ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.env
.gradle/
.ebextensions/
.elasticbeanstalk/
.mvn/
gradle/
gradlew
gradlew.bat
build.gradle
settings.gradle
*.cmd
mvnw
### system ###
.DS_Store

### frontend ###
node_modules
.prettierrc
notes.txt
physics.txt
test.cpp
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

