:root {
  /* Default colors */
  --background-color: rgb(232, 232, 232);
  --main-color: rgb(248, 249, 250);
  --almost-absolute:rgb(254, 254, 254);
  --error-color: rgba(255, 69, 58, 0.9);
  --submit-color: rgb(111, 166, 255);
  --main-border-color: rgb(199, 204, 208);

  /* Border */
  --main-border: 1px solid rgb(199, 204, 208);
  --simple-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  --main-border-radius: 8px;

  --text-color: #141414;

  /* Other */
  --box-padding: 0.8em;
}

.dark-mode {
  /* Dark mode colors */
  --background-color: rgb(30, 30, 30);
  --main-color: rgb(40, 40, 40);
  --almost-absolute:rgb(21, 21, 21);

  --error-color: rgba(255, 69, 58, 1);
  --submit-color: rgb(80, 120, 200);
  --main-border-color: rgb(100, 100, 100);

  /* Border */
  --main-border: 1px solid rgb(100, 100, 100);
  --simple-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
  --main-border-radius: 8px;

  --text-color: #f0f0f0;

  /* Other */
  --box-padding: 0.8em;
}

i {
  color:var(--text-color)
}

* {
  font-family: monospace;
  padding: 0;
  margin: 0;
  color: var(--text-color);
  user-select: none;
}

#canvas {
  fill:var(--text-color);
}

/* util */

h3 {
  margin-bottom: 0.6em;
}

input[type="submit"]:hover,
button:hover,
label:hover,
a:hover {
  opacity: 70%;
  cursor: pointer;
  transition: all 0.2 ease;
}

.main-component {
  background-color: var(--main-color);
  border: var(--main-border);
  border-radius: var(--main-border-radius);
  display: flex;
  flex-direction: column;
}

.basic-button,
.text-input {
  background-color: var(--almost-absolute);
  border: var(--main-border);
  border-radius: 5px;
  padding: var(--box-padding);
}

.plain-button {
  border: none;
  background: none;
}
/* loading */
#loading {
  position: absolute;
  z-index: 10000;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.5),
    0 0 0 120vw rgba(0, 0, 0, 0.5);
}
/* main parts */

#root,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background-color);
}

main {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}

.logreg-main {
  justify-content: center;
  align-items: center;
}

/* message */

#message {
  z-index: 1000;
  text-align: center;
  width: 20vw;
  position: absolute;
  padding: var(--box-padding);
  left: 40vw;
}

/* header */

#main-header {
  height: 4em;
  width: 100vw;
  border-bottom: var(--main-border);
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* box-shadow:0 1px 2px rgba(0, 0, 0, 0.1); */
}
.icon {
  width: 20px;
  height: 20px;
}

.mode-toggle input {
  display:none;
}
.mode-toggle .fa-moon {
  margin-right:.15em;
  margin-left:.1em;
}

.header-section {
  margin: 0 1em;
}

#middle-icons {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 10vw;
  left: 45vw;
  top: 1.2em;
  gap: 0.5em;
}

#select-text {
  margin-right: 0.5em;
}

hr {
  border: none;
  border-bottom: var(--main-border);
  opacity: 50%;
  width: 100%;
  margin-bottom: var(--box-padding);
}

.popup {
  position: absolute;
  box-shadow: var(--simple-shadow);
  align-items: start;
  text-align: start;
  justify-content: start;
}

.popup * {
  text-align: start;
}

.popup header {
  font-weight: bold;
  margin-top: 0.8em;
}

.popup-item {
  margin: 0 0.8em 0.8em 0.8em;
  display: flex;
  align-items: center;
  gap: var(--box-padding);
}

#graph-popup {
  position: absolute;
  top: 3em;
  left: 4em;
  width: 20em;
}

.header-section {
  display: flex;
  align-items: center;
  gap: 1.2em;
}

#savestate {
  color: slategray;
  width: 5em;
}

/* canvas */

#graphpage-main {
  flex-direction: row;
}

.main-graphpage-section {
  height: 90vh;
  margin: var(--box-padding);
}

#canvas-wrapper {
  background-color: var(--main-color);
  width: 100%;
  #canvas {
    width: 100%;
    height: 100%;
  }
}

/* options */

.collapsed {
  i {
    rotate: -90deg;
  }
}

.uncollapsed {
  i {
    rotate: 90deg;
  }
}

#collapse {
  z-index: 500;
  background-color: var(--main-color);
  top: 4.2em;
  right:0em;
  padding: 0.1em;
  border: var(--main-border);
  height: 2.8em;
  position: absolute;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

#collapse:hover {
  opacity: 100%;
}

.none {
  display: none;
}

#options {
  position: relative;
  margin-left: 0;
  width: 20em;
  box-sizing: border-box;
}

.selected-options-pagetitle {
  opacity: 70%;

}


.options-pagetitle {
  font-weight: bold;
  padding: var(--box-padding);
}

#options-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#options-lower {
  padding: var(--box-padding);
  display: flex;
  flex-direction: column;
  gap: 1.6em;
}

.slider-section input {
  width: 100%;
  cursor: ew-resize;
}

.toggle-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle-item * {
  cursor: pointer;
}

#colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.color-option {
  border-radius: 50%;
  border: var(--main-border);
  width: 19px;
  height: 19px;
}

#selected-color {
  border: 2px solid var(--text-color);
}

#deselect-color {
  display: flex;
  align-items: center;
  justify-content: center;
  * {
    color: var(--error-color);
  }
}
input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

/* box */
.quote {
  font-style: italic;
  text-align: center;
  width: 40vw;
}

.info {
  width: 40vw;
}
#love {
  font-style: italic;
}

#box {
  z-index: 1000;
  align-items: center;
  position: absolute;
  width: 50vw;
  top: 20vh;
  left: 25vw;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.3),
    0 0 0 120vw rgba(0, 0, 0, 0.3);
  padding: 2em 0;
  gap: 2em;
}

#box-header {
  font-size: x-large;
}

#box-input {
  width: 40vw;
}

.graph-input {
  width: 44vw;
  height: 10em;
}

#box-form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0.8em;
}

#box-submit i {
  color: slategray;
}

.close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

/* graph */

#editing-box {
  width: 2em;
  border-radius: 4px;
}

.invisible-submit {
  display: none;
}

.invisible-edge {
  stroke: black;
  stroke-opacity: 0;
}

.invisible-edge-text {
  stroke: var(--main-color);
}

/* logreg */

.logreg-header {
  font-size: x-large;
}

.logreg-card {
  width: 220px;
  padding: 2em;
  gap: 1em;
  align-items: center;
}

.logreg-credential-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.logreg-header {
  padding: 0;
  margin: 0;
}

.logreg-submit {
  background-color: var(--submit-color);
  color: white;
}

#error {
  z-index: 1001;
  position: fixed;
  top: 1em;
  left: 25vw;
  width: 50vw;
  padding: var(--box-padding);
  background-color: var(--error-color);
  color: var(--text-color);
  box-shadow: var(--simple-shadow);
  align-items: center;
  animation:
    fadeIn 0.3s ease-in,
    fadeOut 0.3s ease-out 3.8s;
}

#error .close {
  opacity: 60%;
}

#error .close:hover {
  opacity: 30%;
}

/* icon */
.icon {
  width: 20px;
  height: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

/* google */

* {
  .gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: "Roboto", arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition:
      background-color 0.218s,
      border-color 0.218s,
      box-shadow 0.218s;
    transition:
      background-color 0.218s,
      border-color 0.218s,
      box-shadow 0.218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
  }

  .gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
  }

  .gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  .gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: "Roboto", arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
  }

  .gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity 0.218s;
    transition: opacity 0.218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
  }

  .gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
  }

  .gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
  }

  .gsi-material-button:not(:disabled):active .gsi-material-button-state,
  .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #303030;
    opacity: 12%;
  }

  .gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow:
      0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 1px 3px 1px rgba(60, 64, 67, 0.15);
    box-shadow:
      0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 1px 3px 1px rgba(60, 64, 67, 0.15);
  }

  .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #303030;
    opacity: 8%;
  }
}

:root {
  .gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: "Roboto", arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition:
      background-color 0.218s,
      border-color 0.218s,
      box-shadow 0.218s;
    transition:
      background-color 0.218s,
      border-color 0.218s,
      box-shadow 0.218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
  }
  .gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
  }
  .gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }
  .gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: "Roboto", arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
  }
  .gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity 0.218s;
    transition: opacity 0.218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
  }
  .gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
  }
  .gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
  }
  .gsi-material-button:not(:disabled):active .gsi-material-button-state,
  .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #303030;
    opacity: 12%;
  }
  .gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow:
      0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 1px 3px 1px rgba(60, 64, 67, 0.15);
    box-shadow:
      0 1px 2px 0 rgba(60, 64, 67, 0.3),
      0 1px 3px 1px rgba(60, 64, 67, 0.15);
  }
  .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #303030;
    opacity: 8%;
  }
}

.dark-mode {
  .gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: #131314;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #e3e3e3;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
    border-color: #8e918f;
  }

  .gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
  }

  .gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
  }

  .gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
  }

  .gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .gsi-material-button:disabled {
    cursor: default;
    background-color: #13131461;
    border-color: #8e918f1f;
  }

  .gsi-material-button:disabled .gsi-material-button-state {
    background-color: #e3e3e31f;
  }

  .gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
  }

  .gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
  }

  .gsi-material-button:not(:disabled):active .gsi-material-button-state,
  .gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: white;
    opacity: 12%;
  }

  .gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  }

  .gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: white;
    opacity: 8%;
  }

}
